In [1]:
# importando a biblioteca Pandas
import pandas as pd

In [31]:
# Lendo arquivos HTML
df = pd.read_html('https://gist.github.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6')[0]

In [32]:
df

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,NaN,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,NaN,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,NaN,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,NaN,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,NaN,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,NaN,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,NaN,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,NaN,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,NaN,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,NaN,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [33]:
# selecionando uma coluna do DataFrame
coluna = df['Name']

# selecionando várias colunas do DataFrame
colunas = df[['Name', 'Type 1', 'Attack']]

# selecionando linhas do DataFrame com base em condições, ex >, <, <=, >=, ==.
linhas = df[df['Attack'] > 100]

In [8]:
#Inspecionando informações
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  0 non-null      float64
 1   #           800 non-null    int64
 2   Name        800 non-null    object
 3   Type 1      800 non-null    object
 4   Type 2      414 non-null    object
 5   Total       800 non-null    int64
 6   HP          800 non-null    int64
 7   Attack      800 non-null    int64
 8   Defense     800 non-null    int64
 9   Sp. Atk     800 non-null    int64
 10  Sp. Def     800 non-null    int64
 11  Speed       800 non-null    int64
 12  Generation  800 non-null    int64
 13  Legendary   800 non-null    bool
dtypes: bool(1), float64(1), int64(9), object(3)
memory usage: 82.2+ KB

In [38]:
#Inspecionando a base
df.tail()

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,NaN,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,NaN,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,NaN,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,NaN,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,NaN,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [42]:
#Inspecionando o shape
df.shape

(800, 14)

In [12]:
df[(df["Attack"] >= 80) & (df["Defense"] >= 150)]

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
98,NaN,91,Cloyster,Water,Ice,525,50,95,180,85,45,70,1,False
223,NaN,208,Steelix,Steel,Ground,510,75,85,200,55,65,30,2,False
224,NaN,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
268,NaN,248,TyranitarMega Tyranitar,Rock,Dark,700,100,164,150,95,120,71,2,False
332,NaN,306,Aggron,Steel,Rock,530,70,110,180,60,60,50,3,False
333,NaN,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
413,NaN,376,MetagrossMega Metagross,Steel,Psychic,700,80,145,150,105,110,110,3,False
414,NaN,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True
424,NaN,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
749,NaN,680,Doublade,Steel,Ghost,448,59,110,150,45,49,35,6,False
789,NaN,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
795,NaN,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True

In [44]:
#Operação entre colunas
df["Indice de força"] = df['Attack'] + df['Defense'] + df['Speed']

In [46]:
#Pegando o maior valor do indíce de força.
df.sort_values(by = "Indice de força", ascending = False)

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Indice de força
424,NaN,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True,430
333,NaN,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False,420
163,NaN,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,420
413,NaN,376,MetagrossMega Metagross,Steel,Psychic,700,80,145,150,105,110,110,3,False,405
409,NaN,373,SalamenceMega Salamence,Dragon,Flying,700,95,145,130,120,90,120,3,False,395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False,75
187,NaN,173,Cleffa,Fairy,NaN,218,50,25,28,45,55,15,2,False,68
188,NaN,174,Igglybuff,Normal,Fairy,210,90,30,15,40,20,15,2,False,60
121,NaN,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False,60
488,NaN,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False,40

In [47]:
#Utilizando o método iloc para selecionar uma linha específica:

# criando um DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# selecionando a segunda linha (índice 1) usando o método iloc
linha = df.iloc[1]

In [23]:
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [48]:
print(linha)

A    2
B    5
C    8
Name: 1, dtype: int64

In [25]:
# selecionando as linhas 0 e 2 usando o método iloc
linhas = df.iloc[[0, 2]]

print(linhas)

   A  B  C
0  1  4  7
2  3  6  9

In [26]:
# selecionando a célula da coluna 'A' e linha 1 usando o método iloc (linha, coluna)
valor = df.iloc[1, 0]

print(valor)

2

In [49]:
#Utilizando o método loc para selecionar uma linha específica:

# criando um DataFrame com índices
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}, index=['a', 'b', 'c'])

# selecionando a linha de índice 'b' usando o método loc
linha = df.loc['b']

print(linha)

A    2
B    5
C    8
Name: b, dtype: int64

In [50]:
df

   A  B  C
a  1  4  7
b  2  5  8
c  3  6  9

In [28]:
# selecionando as linhas de índice 'a' e 'c' usando o método loc
linhas = df.loc[['a', 'c']]

print(linhas)

   A  B  C
a  1  4  7
c  3  6  9

In [29]:
# selecionando as linhas onde o valor da coluna 'A' é maior que 1 usando o método loc
linhas = df.loc[df['A'] > 1]

print(linhas)

   A  B  C
b  2  5  8
c  3  6  9